
main h1{
    text-align: center;
    color: #162A5F;
    font-family: Inter;
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

h1 span{
    color: #FFB233;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

body header div img{
    width: 10vh;
    position: relative;
}

body header{
    background: #21609B;
    box-shadow: 0px 4px 4px 0px rgb(0, 216, 250);

}

main section{
    width: 50%;
    height: 50vh;
    flex-shrink: 0;
    border-radius: 10px;
    background: #05BFDB;
    box-shadow: 0 4px 30px 2px #B8B8B8;
    margin: auto;
    position: relative;
    margin-top: 10vh;
    margin-bottom: 10vh;
    margin-left: 10vh;
    transition-duration: 0.5s;
}
main section:hover{
    box-shadow: 0 4px 30px 2px  #0191C8;
    transition-duration: 1s;
    width: 56%;
}

 div > p span{
     font-family: 'Borel', cursive;
    color: navy;

}
main section>aside{
    position: relative;
}

main section>aside>img{
    position: absolute;
    width: 30vw;
    top: 10vh;
    left: 2vw;
    border-radius: 10px;
}
main section div:nth-child(2){
    margin-left: 75vh;
}


main .trans{
    width: 50%;
    height: 50vh;
    flex-shrink: 0;
    border-radius: 10px;
    background: #05BFDB;
    box-shadow: 0 4px 30px 2px #B8B8B8;
    margin: auto;
    position: relative;
    margin-top: 10vh;
    margin-bottom: 10vh;
    margin-left: 11vw;
}
main .animation{
    width: 50%;
    height: 50vh;
    flex-shrink: 0;
    border-radius: 10px;
    background: #05BFDB;
    box-shadow: 0 4px 30px 2px #B8B8B8;
    margin: auto;
    position: relative;
    margin-top: 10vh;
    margin-bottom: 10vh;
    margin-left: 14vh;
}

main section div:nth-child(2) h4{
    color: white;
    font-family: Inter;
    font-size: 1.7vw;
    font-style: normal;
    font-weight: 1000;
    line-height: normal;

}

main section div:nth-child(2) p:nth-child(2){
    color: white;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 85%;
}

main section div:nth-child(2) p:nth-child(5){
    color: #162A5F;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

main section div:nth-child(2) a{
    color: #162A5F;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 1000;
    line-height: normal;
}

@media all and (max-width: 600px) {

    main h1 {
        font-size: 30px;
    }

    main section > aside > img {
        position: absolute;
        width: 70vw;
        top: 15vh;
        left: 0;
        right: 0;
        margin: auto;
    }
    main section:hover > aside > img {
        position: absolute;
        width: 40vw;
        top: 15vh;
        left: 0;
        right: 0;
        margin: auto;
    }

    main section {
        width: 80%;
        height: 100vh;
        display: grid;
        /*grid-template-columns: 1fr;*/
        /*grid-template-rows: 1fr 1fr;*/
    }

    main section div:nth-child(2) {
        margin-left: 0;
        text-align: center;
    }
}

@media all and (max-width: 770px) and (min-width: 435px){}

