/*!*--------------------------------------education section-------------------------------------------------*!*/
#education{
    width: 100%;
    height: 100vh;
    border: 2px  solid red;
    position: relative;
    box-sizing: border-box
}
#education h1,h2{
    text-align: center;

}
section:nth-child(3)>div:nth-child(3)>hr{
    position: absolute;
    box-sizing: content-box;
    height: 9px;
    width: 130vh;
    left: 45vh;
    bottom: 24.1vh;
    top: 16.5vh;
    background-color: #00B4D8;
}

section:nth-child(3)>div:nth-child(3)>div{
    position: absolute;
    height: 4vh;
    left: 34vh;
    bottom: 78vh;
}
section:nth-child(3)>div:nth-child(3)>h5{
    position: absolute;
    width: 16vh;
    font-family: system-ui;
    font-size: 3vh;
    left: 48vh;
    bottom: 65vh;
    color: #00b4d8;
}
section:nth-child(3)>div:nth-child(3)>img{
    position: absolute;
    left: 66vh;
    height: 12vh;
    width: 12vh;
    bottom: 64vh;
}
section:nth-child(3)>div:nth-child(3)>h1{
    width: 50vh;
    font-size: 3vh;
    font-family: system-ui;
    position: absolute;
    bottom: 68vh;
    left: 120vh;
}
section:nth-child(3)>div:nth-child(3)>h2{
    width: 50vh;
    font-size: 2vh;
    font-family: system-ui,cursive;
    position: absolute;
    bottom: 65vh;
    left: 120vh;
}
section:nth-child(3)>div:nth-child(4)>hr{
    position: absolute;
    box-sizing: content-box;
    height: 7px;
    width: 125vh;
    left: 45vh;
    bottom: 24.1vh;
    top:  35.9vh;
    background-color: #00B4D8;
}
section:nth-child(3)>div:nth-child(4)>div{
    position: absolute;
    height: 4vh;
    right: 34vh;
    bottom: 59vh;
}
section:nth-child(3)>div:nth-child(4)>h5{
    position: absolute;
    width: 16vh;
    font-family: system-ui;
    font-size: 3vh;
    left: 153vh;
    bottom: 46vh;
    color: #00b4d8;
}
section:nth-child(3)>div:nth-child(4)>img{
    position: absolute;
    left: 141vh;
    height: 12vh;
    width: 12vh;
    bottom: 47vh;
}
section:nth-child(3)>div:nth-child(4)>h1{
    width: 50vh;
    font-size: 3vh;
    font-family: system-ui;
    position: absolute;
    bottom: 51vh;
    left: 46vh;
}
section:nth-child(3)>div:nth-child(4)>h2{
    width: 50vh;
    font-size: 2vh;
    font-family: system-ui,cursive;
    position: absolute;
    bottom: 49vh;
    left: 49vh;
}
section:nth-child(3)>div:nth-child(5)>hr{
    position: absolute;
    box-sizing: content-box;
    height: 9px;
    width: 125vh;
    left: 45vh;
    bottom: 22.1vh;
    top: 54.9vh;
    background-color: #00B4D8;

}

section:nth-child(3)>div:nth-child(5)>div{
    position: absolute;
    height: 4vh;
    left: 34vh;
    bottom: 39.8vh;
}
section:nth-child(3)>div:nth-child(5)>h5{
    position: absolute;
    width: 16vh;
    font-family: system-ui;
    font-size: 3vh;
    left: 48vh;
    bottom: 27vh;
    color: #00b4d8;
}
section:nth-child(3)>div:nth-child(5)>img{
    position: absolute;
    left: 66vh;
    height: 12vh;
    width: 12vh;
    bottom: 28vh;
}
section:nth-child(3)>div:nth-child(5)>h1{
    width: 50vh;
    font-size: 3vh;
    font-family: system-ui;
    position: absolute;
    bottom: 30vh;
    left: 120vh;
}
section:nth-child(3)>div:nth-child(5)>h2{
    width: 50vh;
    font-size: 2vh;
    font-family: system-ui,cursive;
    position: absolute;
    bottom: 27vh;
    left: 120vh;
}

section:nth-child(3)>div:nth-child(6)>hr{
    position: absolute;
    box-sizing: content-box;
    height: 10px;
    width: 125vh;
    left: 45vh;
    bottom: 24.1vh;
    top:  74vh;
    background-color: #00B4D8;
}
section:nth-child(3)>div:nth-child(6)>div{
    position: absolute;
    height: 4vh;
    right: 34vh;
    bottom:  20.4vh;
}
section:nth-child(3)>div:nth-child(6)>h5{
    position: absolute;
    width: 16vh;
    font-family: system-ui;
    font-size: 3vh;
    left: 153vh;
    bottom: 7vh;
    color: #00b4d8;
}
section:nth-child(3)>div:nth-child(6)>img{
    position: absolute;
    left: 141vh;
    height: 12vh;
    width: 12vh;
    bottom: 8vh;
}
section:nth-child(3)>div:nth-child(6)>h1{
    width: 50vh;
    font-size: 3vh;
    font-family: system-ui;
    position: absolute;
    bottom: 51vh;
    left: 12vh;
}
section:nth-child(3)>div:nth-child(6)>h2{
    width: 50vh;
    font-size: 2vh;
    font-family: system-ui,cursive;
    position: absolute;
    bottom: 49vh;
    left: 49vh;
}







/*section:nth-child(3){*/
/*    position: relative;*/
/*    height: 150vh;*/
/*    width: 65vw;*/
/*    padding-left: 0vw;*/
/*    padding-right: 14vw;*/
/*}*/

/*section:nth-child(3)>div:nth-child(1){*/
/*    position: absolute;*/
/*    top: -200px;*/
/*    width: 100%;*/
/*    height: 1200px;*/
/*    z-index: 1;*/
/*    background-size: cover;*/

/*}*/
/*section:nth-child(3)>div:nth-child(2)>div:nth-child(1)>h1{*/
/*    width: 68vh;*/
/*    position: absolute;*/
/*    font-family: Inter, "Arial Black";*/
/*    font-weight: 600;*/
/*    font-size: 2vw;*/
/*    color: #ffffff;*/
/*    bottom: 139vh;*/
/*    left: 93vh;*/
/*    margin: auto;*/
/*    z-index: 1;*/
/*}*/

/*section:nth-child(3)>div:nth-child(2)>div:nth-child(1)>h2{*/
/*    width: 63vh;*/
/*    position: absolute;*/
/*    font-family: 'Catamaran';*/
/*    font-weight: 600;*/
/*    font-size: 3vw;*/
/*    color: #000000;*/
/*    bottom: 134vh;*/
/*    left: 90vh;*/
/*    margin: auto;*/
/*    z-index: 1;*/
/*}*/


/*!*section:nth-child(4)>div:nth-child(2)>div{*!*/
/*!*    position: relative;*!*/
/*!*    top: -186vh;*!*/
/*!*    left: 7vh;*!*/
/*!*}*!*/

/*section:nth-child(3)>div:nth-child(2)>div:nth-child(2){*/
/*    position: absolute;*/
/*    padding-left: 14vw;*/
/*    padding-right: 14vw;*/
/*    top: 45vh;*/
/*    z-index: 1;*/
/*}*/

/*section:nth-child(3)>div:nth-child(2)>div:nth-child(2)>hr{*/
/*    position: absolute;*/
/*    box-sizing: content-box;*/
/*    height: 6px;*/
/*    width: 130vh;*/
/*    left: 45vh;*/
/*    bottom: 24.1vh;*/
/*    background-color: #00B4D8;*/
/*}*/

/*section:nth-child(3)>div:nth-child(2)>div:nth-child(2)>div>img:nth-child(1){*/
/*    position: absolute;*/
/*    height: 4vh;*/
/*    left: 174.8vh;*/
/*    bottom: 24vh;*/
/*}*/

/*section:nth-child(3)>div:nth-child(2)>div:nth-child(2)>div>img:nth-child(2){*/
/*    position: absolute;*/
/*    bottom: 11.9vh;*/
/*    left: 38vh;*/
/*    width: 8vh;*/
/*}*/


/*section:nth-child(3)>div:nth-child(2)>div:nth-child(2)>h5{*/
/*    position: absolute;*/
/*    width: 16vh;*/
/*    font-family: system-ui;*/
/*    font-size: 3vh;*/
/*    left: 48vh;*/
/*    !* top: -24.5vh; *!*/
/*    bottom: 13vh;*/
/*}*/

/*section:nth-child(3)>div:nth-child(2)>div:nth-child(2)>img{*/
/*    position: absolute;*/
/*    left: 64vh;*/
/*    bottom: 7vh;*/
/*    height: 12vh;*/
/*    width: 12vh;*/
/*    bottom: 14vh;*/
/*}*/

/*section:nth-child(3)>div:nth-child(2)>div:nth-child(2)>h1{*/
/*    width: 50vh;*/
/*    font-size: 3vh;*/
/*    font-family: system-ui;*/
/*    position: absolute;*/
/*    bottom: 18vh;*/
/*    left: 122vh;*/
/*}*/

/*section:nth-child(3)>div:nth-child(2)>div:nth-child(2)>h2{*/
/*    width: 50vh;*/
/*    font-size: 2vh;*/
/*    font-family: system-ui,cursive;*/
/*    position: absolute;*/
/*    bottom: 15vh;*/
/*    left: 133vh;*/
/*}*/


/*section:nth-child(3)>div:nth-child(2)>div:nth-child(3){*/
/*    position: absolute;*/
/*    padding-left: 14vw;*/
/*    padding-right: 14vw;*/
/*    top: 75.7vh;*/
/*    z-index: 1;*/
/*}*/
/*section:nth-child(3)>div:nth-child(2)>div:nth-child(3)>hr{*/
/*    position: absolute;*/
/*    box-sizing: content-box;*/
/*    height: 6px;*/
/*    width: 125vh;*/
/*    left: 45.49vh;*/
/*    bottom: 41.2vh;*/
/*    background-color: #00B4D8;*/
/*}*/

/*section:nth-child(3)>div:nth-child(2)>div:nth-child(3)>div>img{*/
/*    position: absolute;*/
/*    width: 8vh;*/
/*    left: 170vh;*/
/*    bottom: 29.4vh;*/
/*}*/

/*section:nth-child(3)>div:nth-child(2)>div:nth-child(3)>h5{*/
/*    width: 16vh;*/
/*    position: absolute;*/
/*    font-family: system-ui;*/
/*    font-size: 3vh;*/
/*    left: 155vh;*/
/*    bottom: 29.9vh;*/
/*}*/

/*section:nth-child(3)>div:nth-child(2)>div:nth-child(3)>img{*/
/*    position: absolute;*/
/*    left: 141vh;*/
/*    bottom: 7vh;*/
/*    height: 12vh;*/
/*    width: 12vh;*/
/*    bottom: 30vh;*/
/*}*/

/*section:nth-child(3)>div:nth-child(2)>div:nth-child(3)>h1{*/
/*    width: 50vh;*/
/*    font-size: 3vh;*/
/*    font-family: system-ui;*/
/*    position: absolute;*/
/*    bottom: 35vh;*/
/*    left: 48vh;*/
/*}*/

/*section:nth-child(3)>div:nth-child(2)>div:nth-child(3)>h2{*/
/*    width: 50vh;*/
/*    font-size: 2vh;*/
/*    font-family: system-ui,cursive;*/
/*    position: absolute;*/
/*    bottom: 32vh;*/
/*    left: 58vh;*/
/*}*/

/*section:nth-child(3)>div:nth-child(2)>div:nth-child(4){*/
/*    position: absolute;*/
/*    padding-left: 14vw;*/
/*    padding-right: 14vw;*/
/*    top: 129.1vh;*/
/*    z-index: 1;*/
/*}*/

/*section:nth-child(3)>div:nth-child(2)>div:nth-child(4)>hr{*/
/*    position: absolute;*/
/*    box-sizing: content-box;*/
/*    height: 6px;*/
/*    width: 125vh;*/
/*    left: 45.3vh;*/
/*    bottom: 81.4vh;*/
/*    background-color: #00B4D8;*/
/*}*/

/*section:nth-child(3)>div:nth-child(2)>div:nth-child(4)>div>img{*/
/*    position: absolute;*/
/*    width: 8vh;*/
/*    left: 37.5vh;*/
/*    bottom: 69.2vh;*/
/*}*/

/*section:nth-child(3)>div:nth-child(2)>div:nth-child(4)>h5{*/
/*    position: absolute;*/
/*    width: 16vh;*/
/*    font-family: system-ui;*/
/*    font-size: 3vh;*/
/*    left: 48vh;*/
/*    bottom: 69.9vh;*/
/*}*/

/*section:nth-child(3)>div:nth-child(2)>div:nth-child(4)>img{*/
/*    position: absolute;*/
/*    left: 64vh;*/
/*    bottom: 7vh;*/
/*    height: 12vh;*/
/*    width: 12vh;*/
/*    bottom: 70.5vh;*/
/*}*/

/*section:nth-child(3)>div:nth-child(2)>div:nth-child(4)>h1{*/
/*    width: 61vh;*/
/*    font-size: 3vh;*/
/*    font-family: system-ui;*/
/*    position: absolute;*/
/*    bottom: 75vh;*/
/*    left: 110vh;*/
/*}*/

/*section:nth-child(3)>div:nth-child(2)>div:nth-child(4)>h2{*/
/*    width: 50vh;*/
/*    font-size: 2vh;*/
/*    font-family: system-ui,cursive;*/
/*    position: absolute;*/
/*    bottom: 72vh;*/
/*    left: 123vh;*/
/*}*/

/*section:nth-child(3)>div:nth-child(2)>div:nth-child(5){*/
/*    position: absolute;*/
/*    padding-left: 14vw;*/
/*    padding-right: 14vw;*/
/*    top: 182vh;*/
/*    z-index: 1;*/
/*}*/

/*section:nth-child(3)>div:nth-child(2)>div:nth-child(5)>hr{*/
/*    position: absolute;*/
/*    box-sizing: content-box;*/
/*    height: 6px;*/
/*    width: 125vh;*/
/*    left: 45vh;*/
/*    bottom: 120.7vh;*/
/*    background-color: #00B4D8;*/
/*}*/

/*section:nth-child(3)>div:nth-child(2)>div:nth-child(5)>div>img{*/
/*    position: absolute;*/
/*    width: 8vh;*/
/*    left: 169.5vh;*/
/*    bottom: 108.9vh;*/
/*}*/

/*section:nth-child(3)>div:nth-child(2)>div:nth-child(5)>h5{*/
/*    width: 17vh;*/
/*    position: absolute;*/
/*    font-family: system-ui;*/
/*    font-size: 3vh;*/
/*    left: 155vh;*/
/*    bottom: 108.9vh;*/
/*}*/

/*section:nth-child(3)>div:nth-child(2)>div:nth-child(5)>img{*/
/*    position: absolute;*/
/*    left: 141vh;*/
/*    bottom: 7vh;*/
/*    height: 12vh;*/
/*    width: 12vh;*/
/*    bottom: 109.5vh;*/

/*}*/

/*section:nth-child(3)>div:nth-child(2)>div:nth-child(5)>h1{*/
/*    width: 61vh;*/
/*    font-size: 3vh;*/
/*    font-family: system-ui;*/
/*    position: absolute;*/
/*    bottom: 115vh;*/
/*    left: 47vh;*/
/*}*/

/*section:nth-child(3)>div:nth-child(2)>div:nth-child(5)>h2{*/
/*    width: 50vh;*/
/*    font-size: 2vh;*/
/*    font-family: system-ui,cursive;*/
/*    position: absolute;*/
/*    bottom: 112vh;*/
/*    left: 50vh;*/
/*}*/

/*section:nth-child(3)>div:nth-child(2)>div:nth-child(6){*/
/*    position: absolute;*/
/*    padding-left: 14vw;*/
/*    padding-right: 14vw;*/
/*    bottom: 301vh;*/
/*    z-index: 1;*/
/*}*/

/*section:nth-child(3)>div:nth-child(2)>div:nth-child(6)>hr{*/
/*    position: absolute;*/
/*    box-sizing: content-box;*/
/*    height: 6px;*/
/*    width: 125vh;*/
/*    left: 45vh;*/
/*    top: 221.5vh;*/
/*    background-color: #00B4D8;*/
/*}*/

/*section:nth-child(3)>div:nth-child(2)>div:nth-child(6)>div>img{*/
/*    position: absolute;*/
/*    height: 4vh;*/
/*    left: 41.8vh;*/
/*    top: 221.5vh;*/
/*}*/
