

/*---------------------------------------header section---------------------------------------------------*/
header{
    display: inline-flex;
    border-bottom: 2px solid #00B4D8;
    background: linear-gradient(to left,#000235,#00B4D8);
    width: 98.7vw;
    height: 59px;
    flex-shrink: 0;
    position: fixed;
    border-radius: 10px;
    top: 0;
    z-index: 10;
}
header nav>div>menu{
    position: relative;
    left: 40vw;
}

header nav>div>menu>li{
    display: inline-flex;
    margin-left: 30px;
}

header nav>div>menu>li>a{
    color: white;
    font-family: Libre Baskerville;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}



/*--------------------------------------features section-------------------------------------------------*/