

/*---------------------------------------header section---------------------------------------------------*/
header{
    display: inline-flex;
    border-bottom: 2px solid #00B4D8;
    background: linear-gradient(to left,#000235,#00B4D8);
    width: 99vw;
    height: 59px;
    flex-shrink: 0;
    position: fixed;
    border-radius: 10px;
    top: 0;
    z-index: 10;
}
header>dd>img{
    animation-iteration-count: infinite;
}
header nav>div>menu{
    position: relative;
    left: 17vw;
}

header nav>div>menu>li{
    display: inline-flex;
    margin-left: 10px;
    animation-iteration-count: infinite;

}

header nav>div>menu>li>a{
    color: white;
    font-family: Libre Baskerville;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 8px;
    padding: 1vh;
    box-shadow: #05BFDB 0px 4px 12px;
    transition-duration: 1s;

}
header:hover nav>div>menu>li>a{
    color: orange;
    font-size: 18px;
    transition-duration: 1s;
}
header>h1{
    position: relative;
    top:0;
    font-size: 20px;
}
header>h3{
    position: relative;
    top:12px;
    right:0;
    font-size: 15px;
}
header>dd{
    margin-left: 13px;

}


/*--------------------------------------features section start-------------------------------------------------*/
#home{
    width: 100%;
    height: 100vh;
    background: #CAF0F8;

}

body main section:first-child>div:nth-child(1)>img{
    position: absolute;
    top: 25px;
    right: 50px;
    border-bottom-right-radius:12%;
    width: 40vw;
}


body main section:first-child>div:nth-child(2)>aside{
    position: absolute;
    top: 125px;
    left: 13.5vw;
}

 main section:first-child>div:nth-child(2)>aside>div:first-child p:first-child{
    color: darkblue;
    font-family: JejuGothic;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
 main section:first-child>div:nth-child(2)>aside>div:first-child>h1{
    color: darkblue;
    font-family: 'Catamaran';
    font-size: 50px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    top: 20vh;
}
main section:first-child>div:nth-child(2)>aside>div:first-child>h1{
    animation-iteration-count: 2;
}
 main section:first-child>div:nth-child(2)>aside>div:first-child>h1>span{
    color: #00b4d8;
    font-family: 'Catamaran';
    font-size: 50px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;

}
.btn-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 13rem;
    height: 5rem;
    top: -6vh;
    left: -3.5vw;
}
 h4{
    animation-iteration-count: infinite;
}
#last > a{
    animation-iteration-count: infinite;
    transition-duration: 1.5s;
}

.btn-box .btn {
    text-decoration: none;
    position: relative;
    font-family: 'Poppins', roboto;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 10vw;
    height: 35%;
    background: #05BFDB;
    border: 0.2rem solid #01212a;
    border-radius: 0.8rem;
    font-size: 1.5vw;
    font-weight: 600;
    letter-spacing: .1rem;
    color: #2d2d32;
    z-index: 1;
    overflow: hidden;
    transition: .7s;
}

.btn-box .btn:hover {
    color: #11d4f8;
}


.btn-box .btn:nth-child(2):hover {
    color: #2d2d32;
}

.btn-box .btn:nth-child(2)::before {
    background: #11d4f8;
}

.btn-box .btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background:#2d2d32;
    z-index: -1;
    transition: .7s;
}

.btn-box .btn:hover::before {
    width: 100%;
}

/* main section:first-child>div:nth-child(2)>aside>div:first-child>div{*/
/*    width: 13vw;*/
/*    height: 1.5vh;*/
/*    background-color: #05BFDB;*/
/*    border-radius: 2vh;*/
/*    box-shadow: #05BFDB 0px 4px 12px;*/

/*    position: absolute;*/
/*    top: 25vh;*/
/*    left: 0.3vw;*/
/*    margin: auto;*/
/*}*/

 main section:first-child>div:nth-child(2)>aside>div:last-child>p:last-child{
    color: #171212;
    font-family: Libre Baskerville;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


 main section:first-child>div:nth-child(2)>aside>strong{
    color: #05BFDB;
    font-family: Libre Bodoni, cursive;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: relative;

}

 main section:first-child>div:nth-child(2)>aside>div:last-child>h6{
    font-family: Inter, SansSerif;
    font-weight: 600;
    color: white;
    font-size: 0.8vw;
    padding: 0.7vw;
    background-color: #05BFDB;
    border-radius: 8px;
    box-shadow: #05BFDB 0px 4px 12px;

    position: absolute;
    top: 42vh;
    left: 0vw;
    margin: auto;
}
#linkedIn{
    width: 2%;
    position: absolute;
    left: 21vw;
    top: 60vh;
    margin: auto;
}

#instergram{
    width: 2%;
    position: absolute;
    left: 23vw;
    top: 60vh;
    margin: auto;
}
#facebook{
    width: 2%;
    position: absolute;
    left: 25vw;
    top: 60vh;
    margin: auto;
}

#discord{
    width: 2%;
    position: absolute;
    left: 27vw;
    top: 60vh;
    margin: auto;
    border-radius: 100%;
}
#last{
    position: absolute;
    left: 20vw;
    top: 68vh;
    margin: auto;
    border-radius: 100%;
    color:darkblue;
}
#linkedIn:hover{
    width: 3%;
    animation-duration: 1s;
}
#facebook:hover{
    width: 3%;
    animation-duration: 1s;
}
#instergram:hover{
    width: 3%;
    animation-duration: 1s;
}
#discord:hover{
    width: 3%;
    animation-duration: 1s;
}


/*----------------------------------------------my services ares start---------------------------------------------------*/



section:nth-child(2){
    position: relative;
    height: 180vh;
    width: 100%;
    background: linear-gradient(to top ,#05BFDB,#162A5F);

}

#serviceSection h2{
    color: white;
    text-align: center;
    font-family: 'Catamaran';
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 0;
    margin-top: 0;
    animation-iteration-count: infinite;
}
#serviceSection >hr{
    width: 14vw;
    height: 4px;
    margin: auto;
    background: #00b4d8;
    margin-top: 1vh;
    animation-iteration-count: infinite;
}
section:nth-child(2)>h1{
    width: 42vw;
    font-family: 'Catamaran';
    font-size: 3vw;
    font-weight: 700;
    color: white;

    position: absolute;
    top: 3.5vw;
    right: -10vh;
    left: 0;
    margin: auto;
}


section:nth-child(2)>div:hover{
    box-shadow: #fa21c4 6px 6px 16px;
}

section:nth-child(2)>div>h4{
    font-family: 'Catamaran';
    font-size: 1.5vw;
    font-weight: 700;
    color: navy;

    position: absolute;
    right: 0;
    left: 7vw;
    top: 15vh;
    margin: auto;
}

section:nth-child(2)>div>h3{
    width: 20vw;
    font-family: Inter, SansSerif;
    font-size: 1.2vw;
    font-weight: 600;
    text-align: center;
    color: #808080;

    position: absolute;
    top: 21vh;
    left: 0;
    right: 0;
    margin: auto;
}

.content-inner {
    width:300px;
    height:350px ;
    color: white;
    position: relative;
    transform-style: preserve-3d;
    perspective: 1000px;
    backface-visibility: hidden;
    transition: .9s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.content-inner > * {
    backface-visibility: hidden;
    transition: .9s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.content-inner:hover .content-front {
    transform: rotateY(-180deg);
}
.content-inner:hover .content-back {
    transform: rotateY(0deg);
}
.content-inner .content-front,
.content-inner .content-back {
    color: white;
    position: relative;
    transform-style: preserve-3d;
    perspective: 1000px;
    backface-visibility: hidden;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-front {
    background: linear-gradient(40deg, rgb(10, 233, 243), rgb(12, 125, 212));
    position:relative;
    cursor:pointer;
    border-radius: 5px 5px 5px 5px;
}
.content-front  .cf-inner:before {
    top:27px;
    left:10px;
    border-left:1px dotted;
    border-top:1px dotted;
}
.content-front .cf-inner:after {
    bottom:27px;
    right:10px;
    border-right:1px  dotted;
    border-bottom:1px dotted;
}

.content-front  .cf-inner:before , .content-front  .cf-inner:after {
    content:'';
    position:absolute;
    width:50px;
    height:50px;
    border-color: rgb(0, 0, 0);
    z-index:5;
}

.content-inner .content-back {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    transform: rotateY(180deg);
    background: linear-gradient(40deg, rgb(12, 125, 212), rgb(10, 233, 243));
    border-radius: 5px 5px 5px 5px;
}

.content-inner .cf-inner {
    transform-style: preserve-3d;
    backface-visibility: hidden;
    width:100%;
    padding:150px 30px;
}
.content-inner .cf-inner .inner {
    align-items: stretch;
    transform-style: preserve-3d;
    perspective: 1000px;
    backface-visibility: hidden;
    transform: translateZ(95px) scale(0.81);
    text-align: center;
    position:relative;
    z-index:2;
}

.content-back i {
    font-size:54px;
    position:relative;
}
.dec-icon {
    position:relative;
    display:inline-table;
    width:80px;
    height:80px;
}

.dec-icon i {
    z-index:1;
}
.content-back .dec-icon {
    top:-20px;
}

.dec-icon>img{
    width: 100%;
}

.content-inner .cf-inner .inner p {
    font-size: 1.3vw;
    color: white;
}
.content-back:after  {
    color: white;
    position:absolute;
    content: '\25CF\25CF\25CF';
    width:50px;
    left:50%;
    bottom:30px;
    margin-left:-25px;
    font-size: 9px;
    letter-spacing: 4px;
}
.serv-num {
    position:absolute;
    bottom:27px;
    left:10px;
    color: #000000;
    font-family: 'Playfair Display', cursive;
    z-index:3;
    font-size:20px;
}
.content-inner .cf-inner .inner h2  {
    position:relative;
    font-size:22px;
    font-weight:800;
    padding-bottom:20px;
    font-family: 'Playfair Display', cursive;
}

.content-inner .cf-inner .inner h2:after {
    content:'';
    position:absolute;
    top:-30px;
    margin-left:-25px;
    left:50%;
    width:50px;
    height:2px;
}
.content-inner .content-front h4{
    display:inline-block;
    color: #000000;
    text-transform:uppercase;
    font-size:12px;
    letter-spacing:2px;
    margin:0 4px;
}

.col-md-1{
    position:absolute;
    top: 17vw;
    left: 14vw;
}

.col-md-2{
    position: absolute;
    top: 17vw;
    left: 38.5vw;
}

.col-md-3{
    position: absolute;
    top: 17vw;
    right: 14vw;
}

.col-md-4{
    position:absolute;
    top: 45vw;
    left: 14vw;
}

.col-md-5{
    position: absolute;
    top: 45vw;
    left: 38.5vw;
}

.col-md-6{
    position: absolute;
    top: 45vw;
    right: 14vw;
}

section:nth-child(2)>div:nth-child(8)>img:nth-child(1){
    position: absolute;
    height: 28vh;
    width: 10.5vh;
    top: 61vh;
    left: 22vh;
}

section:nth-child(2)>div:nth-child(8)>img:nth-child(2){
    position: absolute;
    height: 34vh;
    width: 16vh;
    top: 128vh;
    right: 1vw;
}


/*----------------------------------------------my skills ares ---------------------------------------------------*/

#skills{
    width: 100%;
    height: 50vh;
    position: relative;
    box-sizing: border-box;
    background: #CAF0F8;
    /*//background: linear-gradient(180deg, #00B4D8 50%, #06EEE2 100%);*/
}
#skills>h1{
    margin-top: 0;
    text-align: center;
    font-size: 30px;
    animation-iteration-count: infinite;
}
#skills>h3{
    margin-top: 0;
    text-align: center;
    font-size: 30px;
    animation-delay: 2s;
    animation-iteration-count: infinite;
}
section:nth-child(4)>h5{
    margin-left: 6vh;
    color: #162A5F;
    font-size: 20px;

}

section:nth-child(4)>img{
    width: 5%;
    position: absolute;
    top: 26vh;
    margin: auto;
    z-index: 1;
}

section:nth-child(4)>img:hover{
    width: 8%;


}
#wordpress{
    left: 30vh;
    transition-duration: 3s;
    transition-duration: 3s;
}
#wordpress:hover{
    transform: rotate(360deg);
    transition-duration: 3s;
}
#java{
    right: 0;
    left: 0;
    transition-duration: 3s;
}
#java:hover{
    transform: rotate(360deg);
    transition-duration: 3s;
}

#mysql{
    right: 0vw;
    left: 15vw;
    transition-duration: 3s;
}
#mysql:hover{
    transform: rotate(360deg);
    transition-duration: 3s;
}

#jsllogo{
    border-radius: 15%;
    right: 15vw;
    left: 0vw;
    transition-duration: 3s;
}
#jsllogo:hover{
    transform: rotate(360deg);
    transition-duration: 3s;
}

#css{
    right: 0vw;
    left: 30vw;
    transition-duration: 3s;
}
#css:hover{
    transform: rotate(360deg);
    transition-duration: 3s;
}

#html{
    right: 30vw;
    left: 0vw;
    transition-duration: 3s;
}
#html:hover{
    transform: rotate(360deg);
    transition-duration: 3s;
}

#figma{
    right: 0vw;
    left: 45vw;
    transition-duration: 3s;
}

#figma:hover{
    transform: rotate(360deg);
    transition-duration: 3s;

}

#arduinoLogo{
    right: 0vw;
    left: 60vw;
    transition-duration: 3s;
}
#arduinoLogo:hover{
    transform: rotate(360deg);
    transition-duration: 3s;
}

#hibernet{
    right: 46vw;
    left: 0vw;
    transition-duration: 3s;
}

#hibernet:hover{
    transform: rotate(360deg);
    transition-duration: 3s;
}

section:nth-child(4)>dd>li{
    margin-top: 10vh;
    margin-left: 14vh;
}
/*#interlig{*/
/*    top: 38vh;*/
/*    left: 46vw;*/

/*}*/
/*#SceneBillder{*/
/*    top: 38vh;*/
/*    left: 37vw;*/
/*}*/
/*----------------------------------------------my project ares ---------------------------------------------------*/
#project{
    width: 100%;
    height: 90vh;
    position: relative;
    box-sizing: border-box;
    background: linear-gradient(180deg, #162A5F 0%, #00B4D8 100%);

}


#project>h4{
    margin-top: 0;
    color: white;
    font-family: Libre Baskerville;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}

#project>h1{
    color:#CAF0F8;
    text-align: center;
    font-family: Libre Baskerville, serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 0;
    animation-iteration-count: infinite;
}
#project #projectPng{
    width: 57px;
    height: 62px;
    flex-shrink: 0;
    position: relative;
    left: 120vh;
    bottom: 60px;
}
#project>hr{
    width: 20vw;
    height: 3px;
    margin: auto;
    background: #00b4d8;
    margin-top: -6vh;
    animation-iteration-count: infinite;
}

.myProject{
    height: 48%;
    justify-content: space-between;
    bottom: 70px;
    position: relative;
    align-self: center;
    display: flex;
    width: 87%;
}
.class{
    margin-left: 12vh;
    margin-top: 12vh;
    width: 22%;
    height: 44%;
    padding: 4rem 2rem;
    background: #21609B;
    position: relative;
    /*display: flex;*/
    align-items: flex-end;
    border-radius: 4%;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
    transition: 0.5s ease-out;
}
.class:hover{
    transform: translateY(20px);

}

.class:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(39, 155, 227, 0.73), rgb(47, 222, 246));
    z-index: 2;
    transition: 0.5s all;
    opacity: 0;
}
.class:hover:before{
    opacity: 1;

}
.class img{
    width: 70%;
    height: 77%;
    object-fit: cover;
    position: absolute;
    top: 4vh;
    left: 4vw;
}

.class .select{
    position: relative;
    z-index: 3;
    color: #fff;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all;
}
.class:hover .select{
    opacity: 1;
    transform: translateY(0px);
}
.class .select h1{
    margin: 0;
}
.class .select p{
    letter-spacing: 1px;
    font-size: 15px;
    margin-top: 8px;
    margin-bottom: 20px;
}

.class .select .btn{
    text-decoration: none;
    padding: 9.5rem -12rem;
    background: #fff;
    color: #000;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s
}

.class .select .btn:hover{
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
}




/*#project>section>div{*/
/*    box-shadow: 0px 2px 10px 2px rgb(6, 238, 238);*/
/*    margin-left: -5vh;*/
/*    position: relative;*/
/*    width: 62vh;*/
/*    margin-top: -6vh;*/
/*    display: inline-block;*/
/*    transition-duration: 4s;*/
/*}*/
/*#project>section>div:hover{*/
/*    transition-duration: 2s;*/
/*    box-shadow: 0px 8px 16px 8px rgb(215, 6, 238);*/
/*}*/

/*#project>section>div>div{*/
/*    width: 20vw;*/
/*    height: 6vh;*/
/*    position: absolute;*/
/*    top:26vh;*/
/*    left: 18vh;*/

/*}*/
/*#project>section>div>div>a{*/
/*    position: absolute;*/
/*    top:-9vh;*/
/*    left: 8vh;*/
/*}*/
/*#project>section>div>div>h4{*/
/*    color: navy;*/
/*    font-size: 20px;*/
/*}*/
/*#project>section>div>div>p{*/
/*    margin-left: -6px;*/
/*    font-family: bolt;*/
/*}*/
/*#p1,#p2,#p3{*/
/*    width: 6vw;*/

/*}*/

/*----------------------------------------------my about ares ---------------------------------------------------*/
#about{
    width: 100%;
    height: 80vh;
    position: relative;
    box-sizing: border-box;
    background: linear-gradient(180deg, #162A5F 0%, #00B4D8 100%);

}
#about h1{
    animation-iteration-count: infinite;
    animation-duration: 2s;
    text-align: left;
    margin-left: 21vw;
    color: #ffffff;
    margin-top: 0;
}
#about>hr{
    margin-top: -3vh;
    margin-left: 22vw;
    width: 12vw;
    height: 3px;
    background: #00b4d8;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
/*#about> div{*/
/*    width: 57px;*/
/*    height: 62px;*/
/*    flex-shrink: 0;*/
/*    position: relative;*/
/*    left: 66vh;*/
/*    bottom: 60px;*/
/*}*/
#picture{

    width: 64vh;
    transition-duration: 2s;
}
#picture:hover{

    width: 66vh;
    border: 4px solid orange;
    border-radius: 200%;
    transition-duration: 2s;
}

        main>section:nth-child(6)>aside:nth-child(3){
            position: relative;
            left: 8vw;
            width: 25vw;
            top: 8vh;
        }
        main>section:nth-child(6)>aside:nth-child(3)>img{
            width: 30vw;
        }

main>section:nth-child(6) aside:last-child{
    width: 50vw;
    height: 40vh;
    position: absolute;
    right: 5vw;
    top: 0;
    bottom: 32vh;
    margin: auto;
}

main>section:nth-child(6) aside:last-child>p:first-child{
    color: #ffffff;
    font-family: Libre Baskerville, serif;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

main>section:nth-child(6) aside:last-child>p:first-child span{
    color:white;
    font-family: Libre Baskerville, serif;
    font-size: 23px;
    font-style: normal;
    font-weight: 600;
    line-height: 5vh;
}
/*main>section:nth-child(6) aside:last-child>p:last-child{*/
/*    animation-delay: 10s;*/
/*}*/

main>section:nth-child(6) aside:last-child>p:last-child{
    color: white;
    font-family: Libre Baskerville, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 5vh;
    position: relative;
    top: 5vh;
}

main>section:nth-child(6) aside:last-child>p:last-child>span{
    color:darkblue ;
    font-family: Libre Baskerville, bolt;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

/*----------------------------------------------my general life ares ---------------------------------------------------*/

#life{
    width: 100%;
    height: 100vh;
    position: relative;
    box-sizing: border-box;
    background : linear-gradient(to bottom, rgba(3, 4, 94, 0.18),#CAF0F8)     /*background: linear-gradient(180deg, #CAF0F8 0%, #00B4D8 100%);*/

}


#life>h1{
    margin-top: 0;
    color: #000;
    text-align: center;
    font-family: Libre Baskerville, serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

#life>hr {
    width: 22vw;
    height: 3px;
    background: #00b4d8;
    margin-top: -2vh;
}
#life>div>img{
    width: 4.4vw;
    margin-top: -10vh;
    margin-left: 128vh;
}
#life>p{
    position: relative;
    top: 60vh;
}
#life>section{
    position: relative;
    top: 5vh;
    margin: auto;
    display: grid;
    width: 70%;
    height: 70vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
}

#life>section div{
    border: 2px solid #06EEE2;
    border-radius: 20px;
    /*animation-duration: 20s;*/
}
#life>section div:nth-child(1){
    grid-column: 1/2;
    grid-row: 1/3;
    background: url("../image/2023_03_08_15_17_59D863BC-D8D9-471C-A22D-E27E71929DC3.JPG");
    background-size: cover;
}

#life>section div:nth-child(2){
    grid-column: 2/3;
    grid-row: 1/3;
    background: url("../image/2023_08_26_18_53_IMG_1715.JPG");
    background-size: cover;
}

#life>section div:nth-child(3){
    grid-row: 1/3;
    background: url("../image/2023_03_08_15_17_270AEA36-1E5A-4D40-B049-5AAD3E60BEEA.JPG");
    background-size: cover;
}
#life>section div:nth-child(4){

    background: url("../image/2023_07_25_18_10_IMG_0802.JPG");
    background-size: cover;
}

#life>section div:nth-child(6){
    grid-row: 1/4;
    grid-column: 4/5;
    background: url("../image/2021_10_04_15_51_D55D9603-9FD4-4460-AED6-239FF5BFA82E.JPG");
    background-size: cover;
    background-position: center;
}

#life>section div:nth-child(5){
    grid-row: 3/4;
    grid-column: 1/3;
    background: url("../image/2023_03_23_15_48_49335B92-A5E1-434B-86FC-961FD822E625.JPG");
    background-size: cover;
    background-position: center;
    height: 30vh;
}


/*----------------------------------------------my contact me ares ---------------------------------------------------*/

#contact{
    width: 100%;
    height: 111vh;
    position: relative;
    box-sizing: border-box;
    background: #CAF0F8;

}
#contact h1{
    margin-top: 0;
    color: darkblue;
    text-align: center;
    font-family: 'Catamaran';
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 0;
    animation-duration: 4s;
}
#contact h4{
    color: darkblue;
    text-align: center;
    font-family: 'Catamaran';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 0;
}
#contact>hr {
    width: 22vw;
    height: 3px;
    background: #00b4d8;
    margin-top: 0;
    animation-duration: 4s;
}
#contact p {
    color: darkblue;
    text-align: center;
    font-family: 'SansSerif';
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 0;
}



#contact>section{
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 10vh;
}

#contact>section>address{
    width: 40vw;
    height: 80vh;
}
#contact>section>address h4{
    color: darkblue;
    text-align: center;
    font-family: 'Catamaran';
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 0;
}
/*#contact>section>address>#Ch{*/
/*    margin-right: -10vw;*/

/*}*/

#contact>section>address a{
    color: #162A5F;
    font-family: "Cambria Math";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#contact>section>address p{
    color: darkblue;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 0;
}

#contact>section>address>h4{
    margin-bottom: 0;
}

#contact>section>aside{
    width: 40vw;
    height: 80vh;
}

#contact>section>address>div{
    display: flex;
    margin-top: 2.5vh;
}

.contact-section>section>address>div:first-child{
    margin-top: 0;
}

#contact>section>address>div>div:first-child{
    width: 5vw;
    height: 5vw;
    position: relative;
}

#contact>section>address>div>div:last-child{
    position: relative;
    left: 5vw;
}
/*#contact h4{*/
/*    text-align: center;*/
/*}*/
/*#contact>hr {*/
/*    width: 14vw;*/
/*    height: 3px;*/
/*    background: #00b4d8;*/
/*    margin-top: 1vh;*/
/*}*/

/*#contact>section{*/
/*    display: flex;*/
/*    justify-content: space-around;*/
/*    position: relative;*/
/*    top: 10vh;*/
/*}*/

/*#contact>section>address{*/
/*    width: 85vw;*/
/*    height: 48vh;*/
/*    border: 2px solid #06EEE2;*/
/*    margin-left: 40vw;*/
/*}*/
/*#contact>section>address>div:nth-child(1)>div:last-child>h4{*/
/*    position: relative;*/
/*    right: 32vw;*/
/*    font-size: larger;*/

/*}*/
/*#contact>section>address>div:nth-child(2)>div:last-child>h4{*/
/*    position: relative;*/
/*    right: 16vw;*/
/*    font-size: larger;*/

/*}*/
/*#contact>section>address>div:nth-child(2){*/
/*    margin-left: 28vw;*/
/*    margin-top: -13vh;*/

/*}*/
/*#contact>section>address>div:nth-child(3){*/
/*    margin-left: 60vw;*/
/*    margin-top: -13vh;*/

/*}*/
/*#contact>section>address>div:nth-child(3)>div:last-child>h4{*/
/*    position: relative;*/
/*    right: 6vw;*/
/*    font-size: larger;*/
/*}*/
/*#contact>section>address>div:nth-child(3)>div:last-child>a{*/
/*    margin-right: 34vh;*/

/*}*/
/*#contact>section>address>h4{*/
/*    margin-top: 12vh;*/
/*    margin-right: 80vh;*/

/*}*/
/*#contact>section>address>p{*/
/*    margin-right: 22vw;*/
/*    margin-left: 106px;*/
/*}*/

#contact>section>aside{
    top: -5vh;
    position: relative;
    right: 12vh;
    background: #CAF0F8;
}


#contact aside>form>fieldset{
    border: none;
}

#contact aside>form>fieldset>input{
    width: 38vw;
    height: 8vh;
    flex-shrink: 0;
    border-radius: 20px 20px 10px 20px;
    background: #05BFDB;
    border: 0;
    margin-top: 2vh;
    margin-bottom: 2vh;
    transition-duration: 4s;
}
#contact aside>form>fieldset>input:hover{
    transition-duration: 2s;
    background:lightgoldenrodyellow;

}

#contact aside>form>fieldset>textarea{
    width: 38vw;
    height: 15vh;
    flex-shrink: 0;
    border-radius: 20px 20px 10px 20px;
    background: #05BFDB;
    border: 0;
    transition-duration: 2s;

}
#contact aside>form>fieldset>textarea:hover{
    transition-duration: 2s;
    background:lightgoldenrodyellow;
}

#contact aside>form>fieldset>label{
    color: #494949;
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 62px;
    height: 22px;
    flex-shrink: 0;
}

#contact aside>form>fieldset>button{
    width: 185px;
    height: 47px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #21609B;
    color: white;
    transition-duration: 1s;
}
#contact aside>form>fieldset>button:hover{
    transition-duration: 1s;
    width: 200px;
    background: darkorange;
}
body footer{
    width: 100%;
    height: 25vh;
    box-sizing: border-box;
    position: relative;
    background: #05BFDB;
}
body footer section>div>div>#h4{
    color: white;
    text-align: center;
    font-family: 'Catamaran';
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 0;
}
body footer section>div>div>#p{
    color: white;
    text-align: center;
    font-family: 'Catamaran';
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 0;
}
body footer section{
    display: flex;
    width: 60%;
    height: 10vh;
    box-sizing: border-box;
    position: relative;
    background: #162A5F;
    left: 16vw;
    border-radius: 10px;
    top: 6vh;
    box-shadow: #CAF0F8;
}
footer>nav{
    width: 27vw;
    position: relative;
    margin: auto;
    left: 40vh;
}
footer>nav>a{
    margin-right: 10px;
}


/*------------------------------------------media quary--------------------------------------------------------------------------------------*/

@media all and (max-width: 580px) {
    header {
        display: none;
    }

    #home {
        width: 100%;
        height: 121vh;
        background: #CAF0F8;
    }

    body main section:first-child > div:nth-child(1) > img {
        position: absolute;
        top: 103vw;
        right: 50px;
        border-bottom-right-radius: 12%;
        width: 60vw;
    }

    body main section:first-child > div:nth-child(2) > aside {
        position: absolute;
        top: -4vh;
        left: 5.5vw;
    }

    body main section:first-child > div:nth-child(2) > aside > div:first-child > div {

        top: 25vh;
        width: 29vw;
    }

    body main section:first-child > div:nth-child(2) > aside > div:first-child > div {
        left: 2.7vw;
        width: 23.5vw;
        top: 25vh;
    }

    body main section:first-child > div:nth-child(2) > aside > div:last-child > h6 {
        font-size: 2.8vw;
        top: 59vh;
        left: 0vw;
        margin: auto;
        width: 9vh;
    }
    .btn-box .btn {
        display: inline-flex;
        width: 24vw;
        height: 35%;
        font-size: 3.5vw;
    }

    #last {
        left: 3vw;
        top: 88vh;

    }

    #serviceSection {
        width: 100%;
        height: 336vh;
        position: relative;
        box-sizing: border-box;
        background: linear-gradient(to top ,#05BFDB,#162A5F);

    }

    #serviceSection h2 {
        color: white;
        text-align: center;
        font-family: 'Catamaran';
        font-size: 25px;
    }
    section:nth-child(2)>h1 {
        width: 64vw;
        font-family: 'Catamaran';
        font-size: 5vw;
        top: 14.5vw;
        right: -3vh;
    }
    #serviceSection >hr {
        width: 25vw;
        height: 2px;
    }

    section:nth-child(2)>div {
        width: 21.5vw;
        height: 25vh;
    }

    #box4 {
        top: 52vh;
        left: 12vw;
    }
    #box5 {
        top: 52vh;
        left: 48vw;
    }

    #box6 {
        top: 52vh;
        left: 12vw;
    }
/*////////////////////////////////////////////////////////////////*/


    #education {
        width: 100%;
        height: 54vh;
    }
   #education>section>svg {
        width: 100%;
        height: 27vh;
    }

    /*////////////////////////////////////////////////////////////////*/

    #skills {
        width: 100%;
        height: 66vh;
    }

    section:nth-child(4) > h5 {
        margin-top: 21vh;
        margin-left: 6vh;
    }

    #skills > section > svg {
        margin-top: -18vh;
        margin-left: 16vw;
        width: 79%;
        height: 50vh;
    }

    /*////////////////////////////////////////////////////////////////*/



    #project {
        width: 100%;
        height: 140vh;
    }
    #project #projectPng {
        display: none;
    }
    .class {
        margin-left: 2vh;
        margin-top: 17vh;
        width: 19%;
        height: 42%;
    }
    .class .select {
        margin-left: -8vw;
        position: relative;
        margin-bottom: -15vh;
    }
    .class .select p {
        letter-spacing: 1px;
        font-size: 10px;
        margin-top: 8px;
        margin-bottom: 20px;
    }
    .class .select h1 {
        font-size: 25px;
        margin: 0;
    }
        /*#twoP {*/
        /*    margin-left: -25vh;*/
        /*    margin-top: 74vh;*/
        /*    width: 19%;*/
        /*    height: 42%*/
        /*}*/
        /*#oneP {*/
        /*    margin-left: -25vh;*/
        /*    margin-top: 74vh;*/
        /*    width: 19%;*/
        /*    height: 42%*/
        /*}*/
    #thereP {
        margin-left: -25vh;
        margin-top: 74vh;
        width: 19%;
        height: 42%
    }

    /*#project #projectPng {*/
    /*    width: 47px;*/
    /*    height: 45px;*/
    /*    flex-shrink: 0;*/
    /*    position: relative;*/
    /*    left: 39vh;*/
    /*    bottom: 42px;*/
    /*}*/
    /*#project > section > div {*/
    /*    margin-top: 13vh;*/
    /*    box-shadow: 0px 2px 10px 2px rgb(6, 238, 238);*/
    /*    margin-left: -5vh;*/
    /*    position: relative;*/
    /*    width: 55vh;*/
    /*    display: inline-block;*/
    /*}*/


    /*#project > section > div > div > h4 {*/
    /*    margin-left: -5vh;*/
    /*    margin-top: -7vh;*/
    /*}*/

    /*////////////////////////////////////////////////////////////////*/



    #about {
        width: 100%;
        height: 200vh;
        position: relative;
        box-sizing: border-box;
        background: linear-gradient(180deg, #162A5F 0%, #00B4D8 100%);
    }

    #picture {
        margin-top: -7vh;
        width: 52vh;
        transition: none;
    }

    main > section:nth-child(6) aside:last-child {
        width: 87vw;
        height: 40vh;
        position: absolute;
        right: 5vw;
        top: -28vh;
        bottom: 32vh;
        margin: auto;
    }

    /*////////////////////////////////////////////////////////////////*/



    #life>section {
        position: relative;
        top: 5vh;
        margin: auto;
        display: grid;
        width: 96%;
    }
    #life > div > img {
        width: 12.4vw;
        margin-top: -10vh;
        margin-left: 20vh;
    }
    #life>section div:nth-child(1) {
        width: 135px;
        grid-column: 1/2;
    }
    #life>section div:nth-child(2) {
        width: 41vw;
    }
    #life>section div:nth-child(6) {
        display: none;
    }
    #life>section div:nth-child(3) {
        display: none;
    }
    #life>section div:nth-child(4) {
        display: none;
    }
    main>section:nth-child(6) aside:last-child>p:last-child>span {
        font-size: 1px;

    }
    #contact>section>address {
        width: 68vw;

    }
    #contact {
        width: 100%;
        height: 181vh;
    }
    #contact>section>aside {
        top: 65vh;
        right: 38vh;
    }
    #contact aside>form>fieldset>input {
        width: 56vw;
    }
    #contact aside>form>fieldset>textarea {
        width: 75vw;
    }

    /*////////////////////////////////////////////////////////////////*/


    body footer section>div>div>#h4 {
        margin-top: 0vh;
        font-size: 25px;
    }
    body footer section>div>div>#p {
        margin-top: 0vh;
        font-size: 16px;
    }
    footer>nav {
        display: none;
    }
    /*////////////////////////////////////////////////////////////////////////////*/
    section:nth-child(2) {
        height: 595vw;
    }

    section:nth-child(2)>h5 {
        width: 25vw;
        font-size: 4.5vw;
        top: 3vw;
        left: 13vw;
    }


    section:nth-child(2)>h1 {
        width: 70vw;
        font-size: 5vw;
        top: 7vw;
        left: 17vw;
    }

    section:nth-child(2)>p {
        width: 72vw;
        text-align: center;
        font-size: 3vw;
        top: 12vw;
        left: 18vw;
    }

    .content-inner {
        width: 70vw;
        height: 85vw;
    }

    .content-inner .cf-inner {
        width: 80%;
        padding: 26vw 14vw;
    }

    .content-front .cf-inner:before {
        top: 3vw;
        left: 2vw;
    }

    .serv-num {
        bottom: 1vw;
    }

    .content-front .cf-inner:after {
        bottom: 2vw;
        right: 2vw;
    }

    .dec-icon {
        width: 35vw;
        height: 35vw;
    }

    .content-inner .cf-inner .inner p {
        font-size: 4.3vw;
    }

    .content-back:after {
        left: 56%;
    }

    .col-md-1 {
        position: absolute;
        top: 30vw;
        left: 15vw;
    }

    .col-md-2 {
        position: absolute;
        top: 125vw;
        left: 15vw;
    }

    .col-md-3 {
        position: absolute;
        top: 220vw;
        right: 57vw;
    }

    .col-md-4 {
        position: absolute;
        top: 315vw;
        left: 15vw;
    }

    .col-md-5 {
        position: absolute;
        top: 410vw;
        left: 15vw;
    }

    .col-md-6 {
        position: absolute;
        top: 506vw;
        right: 60vw;
    }



}


@media all and (max-width: 375px) and (min-width: 320px){

    body main section:first-child > div:nth-child(1) > img {
        position: absolute;
        top: 103vw;
        right: 20px;
        border-bottom-right-radius: 12%;
        width: 65vw;
    }

}
@media all and (max-width: 425px) and (min-width: 375px){

    body main section:first-child > div:nth-child(1) > img {
        position: absolute;
        top: 66vw;
        right: 50px;
    }

    .col-md-1 {
        position: absolute;
        top: 30vw;
        left: 15vw;
    }

    .col-md-2 {
        position: absolute;
        top: 125vw;
        left: 15vw;
    }

    .col-md-3 {
        position: absolute;
        top: 220vw;
        right: 57vw;
    }

    .col-md-4 {
        position: absolute;
        top: 315vw;
        left: 15vw;
    }

    .col-md-5 {
        position: absolute;
        top: 410vw;
        left: 15vw;
    }

    .col-md-6 {
        position: absolute;
        top: 506vw;
        right: 60vw;
    }


}
@media all and (max-width: 770px) and (min-width: 425px){

    header nav>div>menu {
        width: 77vw;
        position: relative;
        left: -6vw;
    }
    header nav>div>menu>li>a {
        color: white;
        font-family: Libre Baskerville;
        font-size: 13px;
    }
    #facebook {
        width: 5%;
        position: absolute;
        left: 90vw;
        top: 56vh;
        margin: auto;
    }
    #discord {
        width: 4%;
        position: absolute;
        left: 84vw;
        top: 57vh;
    }
    #instergram {
        width: 5%;
        position: absolute;
        left: 77vw;
        top: 56vh;
    }
    #linkedIn {
        width: 5%;
        position: absolute;
        left: 70vw;
        top: 56vh;
}
    section:nth-child(2)>h1 {
        width: 42vw;
        color: white;
        top: 7.5vw;
        right: -9vh;
    }
    body main section:first-child>div:nth-child(1)>img {
        position: absolute;
        top: 25px;
        right: 1px;
    }
    body main section:first-child>div:nth-child(2)>aside {
        position: absolute;
        top: 125px;
        left: 3.5vw;
    }
    .myProject {
        height: 51%;
        justify-content: space-between;
        bottom: 70px;
        position: relative;
        align-self: center;
        display: flex;
        width: 78%;
    }

    #life>div>img {
        width: 7.4vw;
        margin-top: -6vh;
        margin-left: 61vh;
    }
    #project #projectPng {
        width: 57px;
        height: 62px;
        flex-shrink: 0;
        position: relative;
        left: 80vh;
    }
    body footer section>div>div>#h4 {
        margin-top: 0vh;
        color: white;
        text-align: center;
        font-family: 'Catamaran';
        font-size: 24px;
    }
    body footer section>div>div>#p {
        margin-top: 0vh;
        color: white;
        text-align: center;
        font-family: 'Catamaran';
        font-size: 14px;
    }
    footer>nav {
        width: 33vw;
        position: relative;
        margin: auto;
        left: 43vh;
        top: -2vh;
    }
    section:nth-child(2) {
        position: relative;
        height: 211vh;
    }
    .col-md-1 {
        position: absolute;
        top: 17vw;
        left: 2vw;
    }
    .col-md-2 {
        position: absolute;
        top: 17vw;
        left: 46vw;
    }
    .col-md-3 {
        position: absolute;
        top: 65vw;
        left: 2vw;
    }
    .col-md-4 {
        position: absolute;
        top: 65vw;
        left: 46vw;
    }
    .col-md-5 {
        position: absolute;
        top: 113vw;
        left: 46vw;
    }
    .col-md-6{
        position: absolute;
        top: 113vw;
        left: 2vw;
    }
}
@media all and (max-width: 1024px) and (min-width: 770px){

    body main section:first-child>div:nth-child(1)>img {
        position: absolute;
        top: 25px;
        right: 1px;
        border-bottom-right-radius: 12%;
        width: 44vw;
    }
    main section:first-child>div:nth-child(2)>aside>div:first-child>div {
        top: 26vh;
    }
    #discord {
        width: 4%;
        left: 33vw;
    }
    #facebook {
        width: 4%;
        left: 28vw;
    }
    #instergram {
        width: 4%;
        left: 24vw;
    }
    #linkedIn {
        width: 4%;
        left: 20vw;
    }

    section:nth-child(2)>h1 {

        top: 6.5vw;
    }

    #project #projectPng {

        left: 97vh;
    }
    #life>div>img {
        width: 5.4vw;
        margin-top: -10vh;
        margin-left: 78vh;
    }
    .col-md-1 {
        position: absolute;
        top: 17vw;
        left: 5vw;
    }
    .col-md-4 {
        position: absolute;
        top: 57vw;
        left: 5vw;
    }
    .col-md-2 {
        position: absolute;
        top: 17vw;
        left: 37.5vw;
    }
    .col-md-5 {
        position: absolute;
        top: 57vw;
        left: 37.5vw;
    }
    .col-md-3 {
        position: absolute;
        top: 17vw;
        right: 1vw;
    }
    .col-md-6 {
        position: absolute;
        top: 57vw;
        right: 1vw;
    }


}
@media all and (max-width: 1440px) and (min-width: 1024px){

    main section:first-child>div:nth-child(2)>aside>div:first-child>div {
        top: 20vh;
    }
    #project #projectPng {
        left: 91vh;
    }
    #life>div>img {
        width: 3.4vw;
        margin-top: -10vh;
        margin-left: 77vh;
    }
}





/*      body main section:first-child>div:nth-child(2)>aside>div:first-child>div{*/
/*        left: 33.7vw;*/
/*        width: 5.5vw;*/
/*        top: 24vh;*/
/*    }*/

/*      body main section:first-child>div:nth-child(2)>aside>div:first-child>div {*/

/*    top: 34vh;*/
/*    left: 39.7vw;*/
/*    width: 6.5vw;*/

/*}*/

/*        #last {*/
/*            width: 103vw;*/
/*            position: absolute;*/
/*            left: 53vw;*/
/*            top: 72vh;*/
/*            margin: auto;*/
/*            border-radius: 100%;*/
/*            color: darkblue;*/
/*        }*/
/*    #project>section>div>div>p {*/
/*        margin-left: -52px;*/
/*        font-family: bolt;*/
/*    }*/
/*    #p1, #p2, #p3 {*/
/*        width: 19vw;*/
/*    }*/
/*    #project>section>div>div>h4 {*/
/*        margin-left: -6vh;*/
/*        color: navy;*/
/*        font-size: 20px;*/
/*    }*/

/*}*/
/*@media all and (max-width: 1024px) and (min-width: 768px) {*/

/*    header {*/
/*        width: 109%;*/
/*        height: 78px;*/
/*    }*/
/*    header nav>div>menu {*/
/*        position: relative;*/
/*        left: 1vw;*/
/*    }*/
/*    #home {*/
/*        width: 109%;*/
/*        height: 100vh;*/
/*        background: #CAF0F8;*/
/*    }*/
/*    body main section:first-child>div:nth-child(1)>img {*/
/*        position: absolute;*/
/*        top: 42px;*/
/*        right: -72px;*/
/*        border-bottom-right-radius: 12%;*/
/*        width: 48vw;*/
/*    }*/
/*    body main section:first-child>div:nth-child(2)>aside>div:first-child>h1 {*/
/*        margin-top: -5vh;*/
/*        margin-left: -9vh;*/
/*        color: darkblue;*/
/*        font-family: 'Catamaran';*/
/*        font-size: 50px;*/
/*        font-style: normal;*/
/*        font-weight: 900;*/
/*        line-height: normal;*/

/*    }*/

/*    body main section:first-child>div:nth-child(2)>aside>div:first-child>div {*/
/*        top: 20vh;*/

/*    }*/

/*    body main section:first-child>div:nth-child(2)>aside>div:first-child>div {*/
/*        left: 23.7vw;*/
/*        width: 2.5vw;*/
/*        top: 20vh;*/
/*    }*/
/*    #serviceSection {*/
/*        width: 109%;*/
/*        height: 124vh;*/
/*    }*/
/*    #serviceSection>aside {*/
/*        margin: auto;*/
/*        display: flex;*/
/*        width: max-content;*/
/*        height: 49vh;*/
/*    }*/
/*    #serviceSection aside div>div:first-child img {*/
/*        margin-left: 9vh;*/
/*    }*/
/*    #education {*/
/*        width: 109%;*/
/*        height: 100vh;*/
/*        position: relative;*/
/*        box-sizing: border-box;*/
/*        background: #CAF0F8;*/
/*    }*/
/*    #skills {*/
/*        width: 109%;*/
/*    }*/
/*    #project {*/
/*        width: 109%;*/
/*        height: 221vh;*/
/*    }*/
/*    #project>section>div {*/
/*        margin-left: 30vh;*/
/*        width: 68vh;*/
/*    }*/
/*    #project>section>div>div>h4 {*/
/*        width: 40vw;*/
/*        color: navy;*/
/*        font-size: 20px;*/
/*    }*/
/*    #p1, #p2, #p3 {*/
/*        width: 10vw;*/
/*    }*/
/*    #project>section>div>div>p {*/
/*        margin-top: -3vh;*/
/*        width: 40vw;*/
/*        margin-left: -20px;*/
/*        font-family: bolt;*/
/*    }*/
/*    #project #projectPng {*/
/*        left: 81vh;*/
/*    }*/
/*    #about {*/
/*        width: 109%;*/
/*        height: 120vh;*/

/*    }*/
/*    main>section:nth-child(6) aside:last-child>p:last-child {*/
/*        color: white;*/
/*        font-family: Libre Baskerville, sans-serif;*/
/*        font-size: 20px;*/
/*        font-style: normal;*/
/*        font-weight: 400;*/
/*        line-height: 5vh;*/
/*        position: relative;*/
/*        top: 5vh;*/
/*        margin-left: -47vw;*/
/*        width: 85vw;*/
/*    }*/
/*    #life {*/
/*        width: 109%;*/
/*        height: 100vh;*/
/*    }*/
/*    #contact {*/
/*        width: 109%;*/
/*    }*/
/*    body footer {*/
/*        width: 109%;*/
/*    }*/
/*    footer>nav {*/
/*        width: 31vw;*/
/*    }*/
/*    body footer section>div>div>#h4 {*/

/*        margin-top: 0;*/
/*    }*/
/*    body footer section>div>div>#p {*/

/*        font-size: 23px;*/
/*        margin-top: -1vh;*/
/*    }*/

/*}*/



