

/*---------------------------------------header section---------------------------------------------------*/
header{
    display: inline-flex;
    border-bottom: 2px solid #00B4D8;
    background: linear-gradient(to left,#000235,#00B4D8);
    width: 99vw;
    height: 59px;
    flex-shrink: 0;
    position: fixed;
    border-radius: 10px;
    top: 0;
    z-index: 10;
}
header nav>div>menu{
    position: relative;
    left: 17vw;
}

header nav>div>menu>li{
    display: inline-flex;
    margin-left: 10px;
}

header nav>div>menu>li>a{
    color: white;
    font-family: Libre Baskerville;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 8px;
    padding: 1vh;
    box-shadow: #05BFDB 0px 4px 12px;
}
header>h1{
    position: relative;
    top:0;
    font-size: 20px;
}
header>h3{
    position: relative;
    top:12px;
    right:0;
    font-size: 15px;
}
header>dd{
    margin-left: 13px;

}


/*--------------------------------------features section start-------------------------------------------------*/
#home{
    width: 100%;
    height: 100vh;
    border: 2px solid red;

}

body main section:first-child>div:nth-child(1)>img{
    position: absolute;
    top: 25px;
    right: 50px;
    border-bottom-right-radius:12%;
    width: 40vw;
}


body main section:first-child>div:nth-child(2)>aside{
    position: absolute;
    top: 125px;
    left: 13.5vw;
}

body main section:first-child>div:nth-child(2)>aside>div:first-child p:first-child{
    color: darkblue;
    font-family: JejuGothic;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
body main section:first-child>div:nth-child(2)>aside>div:first-child>h1{
    color: darkblue;
    font-family: 'Catamaran';
    font-size: 50px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    top: 20vh;
}
body main section:first-child>div:nth-child(2)>aside>div:first-child>h1>span{
    color: #00b4d8;
    font-family: 'Catamaran';
    font-size: 50px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}
body main section:first-child>div:nth-child(2)>aside>div:first-child>div{
    width: 13vw;
    height: 1.5vh;
    background-color: #05BFDB;
    border-radius: 2vh;
    box-shadow: #05BFDB 0px 4px 12px;

    position: absolute;
    top: 25vh;
    left: 0.3vw;
    margin: auto;
}

body main section:first-child>div:nth-child(2)>aside>div:last-child>p:last-child{
    color: #171212;
    font-family: Libre Baskerville;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


body main section:first-child>div:nth-child(2)>aside>strong{
    color: #05BFDB;
    font-family: Libre Bodoni, cursive;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: relative;

}

body main section:first-child>div:nth-child(2)>aside>div:last-child>h6{
    font-family: Inter, SansSerif;
    font-weight: 600;
    color: white;
    font-size: 0.8vw;
    padding: 0.7vw;
    background-color: #05BFDB;
    border-radius: 8px;
    box-shadow: #05BFDB 0px 4px 12px;

    position: absolute;
    top: 42vh;
    left: 0vw;
    margin: auto;
}
#linkedIn{
    width: 2%;
    position: absolute;
    left: 21vw;
    top: 60vh;
    margin: auto;
}

#instergram{
    width: 2%;
    position: absolute;
    left: 23vw;
    top: 60vh;
    margin: auto;
}
#facebook{
    width: 2%;
    position: absolute;
    left: 25vw;
    top: 60vh;
    margin: auto;
}

#discord{
    width: 2%;
    position: absolute;
    left: 27vw;
    top: 60vh;
    margin: auto;
    border-radius: 100%;
}
#last{
    position: absolute;
    left: 20vw;
    top: 68vh;
    margin: auto;
    border-radius: 100%;
    color:darkblue;
}

/*--------------------------------------features section end-------------------------------------------------*/
/*----------------------------------------------my services ares start---------------------------------------------------*/

#serviceSection{
    width: 100%;
    height: 100vh;
    border: 2px  solid red;
    position: relative;
    box-sizing: border-box
}
#serviceSection aside div{
        border-radius: 10px;
        background: linear-gradient(180deg, #000235 0%, #00B4D8 100%);
        box-shadow: 0px 5px 30px 5px rgb(6, 238, 226);
        width: 28vw;
        flex-shrink: 0;
        display: inline-block;

}
#serviceSection>aside{
    margin: auto;
    display: flex;
    width: 90%;
    height: 40vh;
    justify-content: space-between;
}
#serviceSection aside div>div:first-child img{
        width: 110px;
        height: 90px;
        background-size: cover;
        background-position: center;
        border-radius: 5%;

}
#serviceSection h3,h4{
    text-align: center;
}

/*----------------------------------------------my services ares end---------------------------------------------------*/

#skills{
    width: 100%;
    height: 80vh;
    border: 2px  solid red;
    position: relative;
    box-sizing: border-box;
    background: linear-gradient(180deg, #ffffff 0%, #00B4D8 100%);
}
#skills>h1 ,h3{
    text-align: center;
}
section:nth-child(4)>h5{
    margin-left: 6vh;

}

section:nth-child(4)>img{
    width: 5%;
    position: absolute;
    top: 26vh;
    margin: auto;
    z-index: 1;
}

section:nth-child(4)>img:hover{
    width: 6%;
}

#java{
    right: 0;
    left: 0;
}

#mysql{
    right: 0vw;
    left: 15vw;
}

#jsllogo{
    border-radius: 15%;
    right: 15vw;
    left: 0vw;
}

#css{
    right: 0vw;
    left: 30vw;
}

#html{
    right: 30vw;
    left: 0vw;
}

#figma{
    right: 0vw;
    left: 45vw;
}

#wordpressLogo{
    right: 45vw;
    left: 31vh;
}

#arduinoLogo{
    right: 0vw;
    left: 60vw;
}

#hibernet{
    right: 46vw;
    left: 0vw;
}
section:nth-child(4)>dd>li{
    margin-top: 10vh;
    margin-left: 14vh;
}
/*#interlig{*/
/*    top: 38vh;*/
/*    left: 46vw;*/

/*}*/
/*#SceneBillder{*/
/*    top: 38vh;*/
/*    left: 37vw;*/
/*}*/

#project{
    width: 100%;
    height: 80vh;
    border: 2px  solid red;
    position: relative;
    box-sizing: border-box;
}

#project>h4{
    color: #162A5F;
    font-family: Libre Baskerville;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}

#project>h1{
    color: #000;
    text-align: center;
    font-family: Libre Baskerville, serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 0;
}

#project>hr{
    width: 20vw;
    height: 3px;
    margin: auto;
    background: #00b4d8;
}
#about{
    width: 100%;
    height: 80vh;
    border: 2px  solid red;
    position: relative;
    box-sizing: border-box;
}
#about h1{
    text-align: left;
    margin-left: 21vw;
}
#about>hr{
    margin-top: -3vh;
    margin-left: 22vw;
    width: 12vw;
    height: 3px;
    background: #00b4d8;
}



